#mask {       
    background-color:#000;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000; 
        }
#content{
    background-color: rgba(255, 255, 255, 0.95);
    width: 420px;
    height: 310px;
    border: 1px solid #000000;
    border-radius: 6px;
    position: fixed;
    top:20%;
   margin:0 auto;
position:fixed;left:0px;right:0px;margin-left:auto;margin-right:auto;
    display: block;
    z-index:1001; 
}

.login-header{
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.login-header img{
    width: 34px;
    margin-left: auto;
    margin-right: auto;
    margin-top:3px;
    display: block;
}
.logintip
{   width:66px;
	margin:0 auto;
	font-size:14px;
}

.login-input-box{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.login-input-box input{
    width: 340px;
    height: 32px;
    margin-left: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 42px;
}

.login-input-box input:hover{
    border: 1px solid #ff7d0a;
}

.login-input-box input:after{
    border: 1px solid #ff7d0a;
}

.login-input-box .icon{
    width: 24px;
    height: 24px;
    margin: 6px 4px 6px 24px;
    background-color: #ff7d0a;
    display: inline-block;
    position: absolute;
    border-right: 1px solid #dcdcdc;
}

.login-input-box .icon.icon-user{
    background: url("../assets/images/user.png");
}

.login-input-box .icon.icon-password{
    background: url("../assets/images/password.png");
}

.remember-box{
    width: auto;
    height: auto;
    margin-left: 18px;
    margin-top: 12px;
    font-size: 12px;
    color: #6a6765;
}

.login-button-box{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.login-button-box button{
    background-color: #ff7d0a;
    color: #ffffff;
    font-size: 16px;
    width: 386px;
    height: 40px;
    margin-left: 18px;
    border: 1px solid #ff7d0a;
    border-radius: 4px;
}

.login-button-box button:hover{
    background-color: #ee7204;
}

.login-button-box button:active{
    background-color: #ee7204;
}

.logon-box{
    margin-top: 20px;
    text-align: center;
}

.logon-box a{
    margin: 30px;
    color: #4a4744;
    font-size: 13px;
    text-decoration: none;
}

.logon-box a:hover{
    color: #ff7d0a;
}

.logon-box a:active{
    color: #ee7204;
}








#close{ 
	background:url(../../res/images/icon/close.png) no-repeat; 
	width:30px; 
	height:30px; 
	cursor:pointer; 
	position:absolute; 
	right:5px; 
	top:15px; 
	text-indent:-999em;
	}
	
.iwanttosale
{
	position:fixed;
}
