<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.sw.dao.CategoryDao">
  
    
    

    
    
    
	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>

	<insert id="addcategory" parameterType="Category"   flushCache="true">
		insert  category values(#{categoryid}, #{categoryname})
	</insert>
	

	
	<delete id="deleteById" parameterType="int" flushCache="true">
	   DELETE from user where id=#{uId}
	</delete>
	

	
</mapper> 
